*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(95, 95, 95);
    background-repeat: no-repeat;
    background-size: 100%;
} 
.logo{
    border-radius: 100%;
    height: 100px;
}
.mm{
    display: flex;
    flex-wrap: wrap;
    justify-items: baseline;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: gold;
    
}
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    list-style-type: none;
      
}
.a24{
    width: max-content;
    margin: auto;
    color: gold;
    font-size: xx-large;
}
.z12{
    
    background: url("add.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.vv{
    display: flex;
    flex-direction: column;
}
.a23{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.nav1{
    height: min-content;
    margin-top: auto;
    margin-bottom: auto;
    
}
#azs:disabled {
    background: #999;
    color: #555;
    cursor: not-allowed;
}
#azs1:disabled {
    background: #999;
    color: #555;
    cursor: not-allowed;
}
.gest1{
    visibility: hidden;
    position: absolute;
    top: 0px;
    width: 40%;
    background-color: grey;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.gest2{
    visibility: visible;
    position: absolute;
    top: 700px;
    width: 40%;
    background-color: grey;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}
.vider{
    background: url("vider.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;

}
.remove{
    background: url("remover.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.valider{
    background: url("valider.jfif");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
}
.titre{
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.tap11{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}
.tap21{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
.tap12{
    width: 40%;
}
.tap22{
    width: 100%;
}
.aqw{
    width: 40%;
}
.p1{
    display: flex;
    flex-wrap: wrap;
    border: 2px gold solid;
}
.tapis{
    width: 100%;
    height: 345px;
}
.tapis2{
    width: 100%;
    height: 300px;
}

.a3{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    justify-items: baseline;
}
.ide{
    font-size: x-large;
    color: black;
    font-weight: bolder;
}
.ide2{
    font-size: x-large;
    color: gold;
    font-weight: bolder;
}
.sous{
    text-align: center;
    color: gold;
    font-size: xx-large;
}
.aa{
    width: 40%;
    height: 30px;
    color: gold;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: x-large;
    padding-top: 0px;
}
.bb{
    width: 20%;
    background-color: gold;
    color: black;
    text-align: center;
    padding-top: 40px;
}
.cc{
    height: 80px;
    background-color: black;
    display: flex;

    flex-wrap: wrap;
}
.ee{
    width: 40%;
    height: 60px;
}
.nn{
    width: 30%;
    height: 40px;
}
.dd{
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
}
select{
    width: 100%;
    background-color: gold;
    height: 40%;
}
.ssa{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.tap13{
    width: 20%;

}
.jj{
    width: 80%;
    margin-left :30px;
    margin-bottom: 20px;
    height: 3pc;
    background: yellow;
    color: black;
    font-size: xx-large;
}
.qqq{
    font-size: xx-large;
    color: gold;
    
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}
.aca{
    width:19%;
}
.wx{
    display: flex;
    flex-wrap: wrap;
}
.at{ 
    width: 40%;
    border: 2px gold solid
}
.azze{
    width: 100%;
    height: 40%;
}
.aq{
    display: flex;
    flex-wrap: wrap;
    height: 15%;
    justify-content: space-around;
}
.a25{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#a27{
    height: 60px;
    width: 100%;
    font-size: x-large;

}
.wb{
    width: 400px;
}
table{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}